.colheader {
  position: relative;
}

.colheader span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
}

table.vertDT > thead > tr > th {
  vertical-align: bottom;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table.vertDT > tbody > tr > td {
  padding: 2px;
}

/* https://stackoverflow.com/a/50406895 */

table.matrixTable thead th {
    padding: 2px
}

table.matrixTable tfoot th {
    padding: 2px
}

table.matrixTable tbody th {
    padding: 2px
}

table.matrixTable thead td {
    padding: 0px!important
}

table.matrixTable tfoot td {
    padding: 0px!important
}

table.matrixTable tbody td {
    padding: 0px!important
}

table.matrixTable * {
    padding: 0px!important;
    margin:0px!important;
}

/* TODO: FIND OUT; WHAT EXACTLY:
table.matrixTable > * > * > * > * > * {
    padding: 0px;
    margin:0px;
}
*/
