 {{
 util_float_index_menu(
   data.frame(links = c("report.html#summary_stat",
                        "report.html#summary_descr"),
              hovers = c("Overview on Distributions",
                         "Overview on Descriptive Statistics"),
              texts = c("Distributions",
                        "Descriptive Statistics"))
  )
}}
<h1>
  Descriptive Statistics Overview
</h1>
<h2>
  Distributions
</h2>
<a id="summary_stat"></a>
 {{ summary_stat }}
<h2>
  Descriptive Statistics
</h2>
<a id="summary_descr"></a>
 {{ summary_descr }}
