<h1>
    {{ meta_data_title }}
</h1>

<h3>
    {{ meta_data_name }}
</h3>

<p>
  A data frame containing information to classify results.
  For each indicator metric listed in the ruleset, the corresponding result
  is classified using the range of values separated in a maximum
  of 5 categories (dqi_cat_1 to dqi_cat_5). The default
  ruleset is identified by the code "GRADING_RULESET = 0".
  Category 1 (dqi_cat_1) corresponds to no data quality issues, whereas
  category 5 indicates critical data quality issues.
  </p>
 <p>
  A customized ruleset can be specified by the user providing a new data frame
  "grading_rulesets" using <i>prep_add_dataframes()</i> before
  rendering the report, for example:
  <pre>
prep_add_dataframes(grading_rulesets = "~/Documents/my_grading_rulesets.xlsx")
  </pre>
  This new data frame should have
  the same columns as the default ruleset and the code "GRADING_RULESET" = 0.
  </p>
 <p>
  Additionally, in case it is needed, a user can assign different
  rulesets to specific variables. To do that, a user needs to:
  <ul>
  <li>
  add new rows with a different "GRADING_RULESET" number in the
  data frame "grading_rulesets";
  </li>
  <li>
  add a new column "GRADING_RULESET" in the item-level metadata, in which
  associate each variable to the number of the relevant ruleset.
  </li>
  </ul>
  If no customized ruleset is provided, the ruleset shipped with dataquieR
  will be used.
</p>

{{ meta_data_table }}
