{{
 util_float_index_menu(
   data.frame(links = c( "report.html#summaryplots",
                         "report.html#comat",
                        "report.html#notes_labels"),
              hovers = c( "Summary Plot",
                          "Overview on Problems and Errors",
                         "Other notes"),
              texts = c("Summary Plot",
                        "Summary Matrix",
                        "Other information"))
  )
}}
<h1>
  Overview of all performed quality checks
</h1>
<p>
  This overview is composed of a pie chart and a matrix. The pie chart gives an
  overview on the number of variables assessed to be in one of the specified
  data quality categories. In the matrix,
  the rows contain the variables of the study data, and columns refer to the
  targeted data quality indicator functions. A final column called <i>Total</i>
  contains the worse classification obtained by the variable of reference. </p>
<p>The meaning of the colors is the same in the pie chart and in the matrix
   and corresponds with the data quality categories.
  The matrix has 3 additional colors: the cell will be in white, if an
  assessment was not reasonably possible or not selected by the user;
  light grey, if there was an assessment, but
  it has not been classified; and dark grey if the assessment
  failed, but usually amending the metadata the user could make
  an assessemnt possible.
  The texts in the matrix show the metrics behind the classification. If more
  than one metric is avaialable, the one with the worst quality rating
  is visible.

</p>
<p>A classification is done based on the grading rulesets, the colors base on
the grading formats. Both can be provided as separate metadata sheets; for
both, <i>dataquieR</i> has default sheets.</p>
<br>

<a id="summaryplots"></a>

{{ summaryplots }}

<br>
<h2>
  Summary Matrix
</h2>
<p>
  The summary matrix displays all potential data quality issues in the data, and
  all problems originating from missing or deficient metadata or other
  possible problems.
</p>
<a id="comat"></a>
 {{ comat }}

<br>
<h2>
  Other information
</h2>
<p>
Moving the mouse pointer on the table shows the function, the variable
of interest, the corresponding data quality category or,
if not available, a "Not classified"/"No results available" text. These are
followed by the metrics behind the classification and the warning/error messages
produced when calling the function.
In case of more than one metric, all are reported. Only the metric with
the worst data quality classification is displayed in bold face. <br> Moving the
mouse pointer on the variables displays the actual variable name
instead of the label.
</p>
