<h1>
    {{ meta_data_title }}
</h1>

<h3>
    {{ meta_data_name }}
</h3>

<p>
  A table containing the information on the RGB color codes ("color")
  and text ("label") used to represent the five data quality categories
  inside the report.
  For color codes, you can write 3 decimal numbers separated by spaces,
  representing the <a href="https://en.wikipedia.org/wiki/RGB" target="_blank">RGB
  components</a>
  of the colors.
  Alternatively, you can use <a href="https://rdrr.io/r/grDevices/col2rgb.html" target="_blank">hexadecimal
  color codes</a> (e.g., "#FF0000")
  or color names (e.g., "red").
  Please see <a href="https://en.wikipedia.org/wiki/Web_colors" target="_blank">here</a>
  for more information.
  The user can modify colors and text providing a new table
  "grading_formats" using <i>prep_add_data_frames()</i> before
  rendering the report, as in the following example.
 <pre>
prep_add_data_frames(grading_formats = "~/Documents/my_grading_formats.xlsx")
  </pre>
</p>
<p>
  To create your own ruleset format file, start with a template from
  <a href="https://dataquality.qihs.uni-greifswald.de/extdata/grading_formats.xlsx" target="_blank">here</a>.
</p>

{{ meta_data_table }}
